@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --color-Blue: #1c51ffe0;
  --color-White: #fff;
  --color-Black: #232323;
  --color-Gray: #DDDDDD;
  --fontSize-Text: 18px;
  --border-radiusGenaral: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/***** Default styles *****/

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  padding: 75px 0 0 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.45) 50%), url(../img/header-Background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

nav {
  position: relative;
  font-size: var(--fontSize-Text);
  color: var(--color-White);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.logo {
  color: var(--color-White);
  font-size: 1.625rem;
  font-weight: 500;
}

.logo>span {
  color: var(--color-Blue);
}

button {
  border: 0;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;

  background-color: var(--color-Blue);
  font-weight: 500;
  width: 175px;
  height: 40px;
  border-radius: var(--border-radiusGenaral);
  color: var(--color-White);
  cursor: pointer;
}

.navResponsive__bars {
  background-color: transparent;
  font-size: 26px;
}

/***** Nav *****/

.menu {
  width: 100%;
  padding-left: 2%;
}

.navResponsive__logo {
  display: none;
}

.nav_section {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
}

.nav_section div {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav_section div:first-child {
  margin: 0 10px 0 10px;
}

.nav_section div:nth-child(2) {
  /*width: 875px;*/
  justify-content: space-between;
  margin-right: 10px;
}

.nav_section div:nth-child(4) {
  display: none;
}

.nav__sectionItems {
  display: flex;
  gap: 5px;
}

.nav__items {
  padding: 10px;
}

.nav__button {
  width: 200px;
  height: 42px;
}

.nav__contact {
  width: 400px;
  justify-content: space-between;
}

.navResponsive__bars {
  display: none;
}


/***** Header *****/

.header__section {
  color: #fff;
  display: flex;
  height: calc(100% - 9rem);
  align-items: center;
}

.header__section div {
  padding: 6%;
}

.header__section p {
  max-width: 625px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  padding: 27px 0;
}

.header__textResposive {
  display: none;
}

/***** Section Options *****/

.section__options {
  text-align: center;
  padding-bottom: 50px;
}

.section__optionsCards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  max-width: 400px;
  text-align: center;
  padding: 45px 3%;
  border-radius: 5px;
}

.card:hover {
  background-color: #DFE2FF;
}

.card button:hover {
  background-color: var(--color-Black);
}

.card:hover .card__svg>g {
  fill: var(--color-Blue);
}

.card__svg {
  height: 100px;
  width: 100px;
  margin-bottom: 25px;
}

.card h3 {
  margin-bottom: 6px;
}

.card button {
  margin-top: 25px;
}

/***** About Us *****/

.section__aboutUs {
  background-color: var(--color-Gray);
  margin-top: 35px;
}

.section__aboutUs>div {
  display: flex;
  padding: 0 3%;
  gap: 4%;
  align-items: center;
  overflow: visible;
}

.article__aboutUs>h2 {
  padding: 0;
}

.article__aboutUs>p:nth-child(2) {
  margin: 20px 0;
}

.article__aboutUs>p:nth-child(3) {
  font-weight: 600;
}

.img__aboutUs {
  position: relative;
  bottom: 28px;
  width: 43%;
  height: 620px;
  border-radius: 5px;
  object-fit: cover;
}

.btn__contact {
  height: 60px;
  width: 40%;
}

.btn__contact>a {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: var(--color-Black);
  color: var(--color-White);
}

.btn__contact span {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10%;
  padding-right: 75px;
  height: 100%;

}

@media (max-width: 1135px) {

  .nav__contact {
    width: auto;
  }

  .nav__contact>a {
    display: none;
  }

  .header__section div {
    padding: 5%;
  }

  .menu {
    padding-left: 1%;
  }

  .section__aboutUs>div {
    padding: 0 2%;
    gap: 3%;
  }

}

@media (max-width: 900px) {
  .nav_section div:nth-child(2) {
    display: none;
  }

  .navResponsive__bars {
    display: inline-block;
    width: 45px;
    height: 45px;
  }

  .navResponsive__bars:hover {
    background-color: #ffffff25;
  }

  .header__section div {
    text-align: center;
  }

  /***** Section Opctions *****/

  .card:hover {
    background-color: initial;
  }

  .section__options {
    padding-bottom: 0;
  }

  /***** Section AboutUs *****/

  .section__aboutUs>div {
    flex-direction: column;
  }

  .article__aboutUs {
    text-align: justify;
    margin-bottom: 25px;
  }

  .article__aboutUs>h2 {
    text-align: center;
    padding: 75px 0 25px 0;
  }

  .img__aboutUs {
    bottom: 0px;
    width: 100%;
    height: 420px;
    margin-bottom: 15px;
  }

  .btn__contact {
    width: 100%;
  }

  .btn__contact span {
    justify-content: left;
    padding-left: 3%;
    gap: 15%;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 34px;
  }

  .header__section p:nth-child(2) {
    display: none;
  }

  .header__textResposive {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
  }
}

@media (max-width: 375px) {

  /***** header *****/
  h1 {
    font-size: 32px;
  }

  .header__textResposive {
    font-size: 18px;
  }




}